<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div>
    <input id="message" type="text">
    <ul id="list"></ul>
    <form action="/users" method="post">
        <input type="text" name="name">
        <input type="submit" value="login">
    </form>
</div>
<script type="text/javascript">
    $(function(){
        var socket = io.connect();
        socket.on('reply message', function(data){
            $('#list').append($('<li/>').text(data));
        });
        $('#message').on('keydown', function(e){
            var $self = $(this);
            if ((e.which === 13 || e.keyCode === 13) && $self.val() != ''){
                socket.emit('send message', $self.val());
                $self.val('');
            }
        });
    });
</script>